<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- Add this line -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <meta-data android:name="com.google.ar.core" android:value="optional" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BarberBuddy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberBuddy">

        <!-- Update this tag with tools:replace -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />

        <activity android:name=".TryOnActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BarberBuddy.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false"/>
        <activity android:name=".ResultsActivity" android:exported="false"/>
        <activity android:name=".StyleDetailActivity" android:exported="false"/>
        <activity android:name=".RecommendationsActivity" android:exported="false"/>

    </application>
</manifest>